.wrapper {
    height:600px;
    width:600px;
}
.header {
    background-color:#FFFF00;
    width:600px;
    height:150px;
}
.maincontents {
    height:150px;
    width:600px;
}
.main-top-left {
    float: left;
    background-color:#33FFFF;
    width:200px;
    height:150px;
}
.main-top-center {
    margin-left:200px;
    background-color:#FF0000;
    width:200px;
    height:150px;
}
.main-top-right {
    float: right;
    background-color:#0000FF;
    margin-top:-150px;
    width:200px;
    height:150px;
}
.maincontents1 {
    height:150px;
    width:600px;
}
.main-bottom-left {
    float: left;
    width:500px;
    height:150px;
    background-color:#00FF00;
}
.main-bottom-right {
    float: right;
    background-color: #FF00FF;
    width:100px;
    height:150px;
}
.footer {
    width:600px;
    height:150px;
    background-color: #33FFFF;
}